.container {
    display: flex;
}

.header {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.836);
}

.logo img{
  width: 50px;
  border-radius: 15px;
  margin-left: 10px;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url(fundobranco.jpg);
  background-size: cover;
}

.logo {
    margin-top: 15px;
    margin-left: 15px;
    color: rgb(92, 92, 255);
}

.navbar {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
    margin-left: 300px;
    width: 500px;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  /* Fim da header */
  footer {
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.836) ;
    height: 75px;
    font-size: 15px;
  }
  .footer1 {
    display: flex;
    color: white;
    margin-right: 1190px;
    width: 110px;
    height: 30px;
    font-family: 'Oswald', sans-serif;
  }
  .nomefooter{
    color: white;
    font-size:18px;
    font-family: 'Oswald', sans-serif;
  }


  /* fim da footer */


  .div1{
      flex-direction: column;
      align-items: center;
      background-color: rgb(218, 3, 3);
      width: 1250px;
      height: 1000px;
      display: flex;
      margin-left: 30px;
      margin-top: 50px;
      border-radius: 15px;
      box-shadow: 5px 5px 40px rgb(0, 0, 0);
      margin-bottom: 100px;
  }
  h1{
    color: white;
    font-size: 30px;
    text-shadow: 5px 5px 6px rgb(0, 0, 0);
  }
  h2{
    color: white;
    font-size: 17px;
    margin-top: -2px;
  }
  .foto{
    display: flex;
    flex-direction: row;
  }

  .um{
    flex-direction: row;
    display: flex;
  }
  .imagens1{
    width: 120px;
  }
  .imagens2{
    width: 125px;
    height: 178px;
    border-radius: 5px;
  }
  .button1{
    display: flex;
    border-radius: 7px;
    color: white;
    background-color: black;
    box-shadow: 4px 4px 30px rgb(0, 0, 0);
    width: 110px;
    margin-top: 50px;
  }