
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.container {
    display: flex;
}

.header {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.836);
}

.logo img{
  width: 50px;
  border-radius: 15px;
  margin-left: 10px;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url(fundobranco.jpg);
  background-size: cover;
}

.logo img {
    height: 60px;
    width: 110px;
    margin-top: -15px;
    margin-left: 15px;
    color: rgb(92, 92, 255);
    border-radius: 10px;
}

.navbar {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
    margin-left: 300px;
    width: 500px;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  /* Fim da header */
  footer {
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.836) ;
    height: 75px;
    font-size: 15px;
  }
  .footerTexto{
    font-size: 14px;
    color: white;
  }


  /* fim da footer */
  

  .sorteio_foto {
    width: 45px;
  }
  
.div2sorteio {
  display: flex;
  width: 350px;
  height: 300px;
  background-color: rgb(218, 3, 3);
  margin-top: 130px;
  margin-left: 100px;
  border-radius: 15px;
  box-shadow: 5px 5px 40px rgb(0, 0, 0);
}
.texto2sorteio {
  color: white;
  display: flex;
  width: 350px;
  margin-top: 45px;
  margin-left: 50px;
  font-family: 'Anton', sans-serif;
  font-size: 30px;
}
.div3sorteio{
  flex-direction: column;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 750px;
  height: 500px;
  background-color: rgb(218, 3, 3);
  border-radius: 15px;
  box-shadow: 5px 5px 40px rgb(0, 0, 0);
  margin-left: 330px;
  margin-top: 90px;
}

.button-sortear:hover{
  color: rgb (222,209,44);
  background-color: rgb(240, 42, 42);
  transform: scale(1.1);
}

.button-sortear {
  width: 200px;
  height: 30px;
  margin-top: 19px;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 10px;
  border: none;
  transition: 0.2s;
  box-shadow: 1px 1px 5px 2px  rgb(0, 0, 0, 0.7);
}
.h1sorteio {
  width: 300px;
  color: white;
  font-family: 'Bebas Neue', cursive;
}
.inp-sorteio{
  border-radius: 10px;
  width: 240px;
  height: 23px;
  background-color: black;
  color: white;
}
  .div1 {
    display: flex;
    width: 850px;
    height: 900px;
    background-color: rgb(218, 3, 3);
    margin-left: 230px;
    margin-top: 90px;
    border-radius: 15px;
    box-shadow: 5px 5px 40px rgb(0, 0, 0);
  }
  .div2 {
    display: flex;
    margin-left: 90px;
    margin-top: 50px;
    width: 500px;
    height: 550px;
    border-radius: 15px;
    flex-direction: column;
    padding: 15px;
  }
  .texto1{
    margin-bottom: 0px;
    margin-top: -15px;
    font-size: 50px;
    margin-left: 173px;
    width: 300px;
    font-family: 'Bebas Neue', cursive;
    color: white;
    text-shadow: 5px 5px 6px rgb(0, 0, 0);
  }
  .sinopse1{
    color: white;
    margin-top: 30px;
    font-size: 17px;
    width: 650px;
  }
  
  .foto1 {
    margin: 0px;
    width: 250px;
    height: 300px;
    flex-direction: row;
    margin-top: 30px;
    margin-left: 180px;
    border-radius: 15px;
  }
  .div3{
    display: flex;
    width: 500px;
    height: 650px;
    margin-top: 200px;
    background-color: aqua;
    margin-right: 1500px;
  }
  .texto2{
    font-size: 50px;
    margin-left: 173px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 5px 5px 6px rgb(0, 0, 0);
    color: white;
    margin-top: -10px;
  }
  .sinopse2{
    margin-top: 100px;
    margin-left: 30px;
    font-size: 17px;
    margin-left: 10px;
    width: 650px;
    color: white;
  }
  .foto2{
    width: 250px;
    height: 265px;
    margin-top: 0px;
    margin-left: 180px;
    border-radius: 15px;
  }
  .texto3{
    font-size: 50px;
    margin-left: 230px;
    font-family: 'Bebas Neue', cursive;
    text-shadow: 5px 5px 6px rgb(0, 0, 0);
    color: white;
    margin-top: -10px;
  }
  .foto3{
    width: 250px;
    margin-left: 185px;
    border-radius: 15px;
  }
  .sinopse3{
    font-size: 17px;
    color: white;
    width: 650px;
    margin-top: 70px;
  }
  .div10{
    display: flex;
    width: 850px;
    height: 850px;
    background-color: rgb(218, 3, 3);
    margin-left: 230px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 40px rgb(0, 0, 0);
  }
  .div5{
    display: flex;
    width: 350px;
    height: 400px;
    background-color: rgb(218, 3, 3);
    margin-left: 490px;
    margin-top: 20px;
    border-radius: 15px;
    box-shadow: 5px 5px 40px rgb(0, 0, 0);
  }
  .div6{
    margin-top: 70px;
    margin-left: 40px;
  }
  .button1 {
    margin-left: 33px;
    width: 200px;
    height: 30px;
    margin-top: 24px;
    background-color: rgb(0, 0, 0);
    color: white;
    border-radius: 10px;
    border: none;
    transition: 0.2s;
    box-shadow: 1px 1px 5px 2px  rgb(0, 0, 0, 0.7);
  }
  .button1:hover{
    color: rgb (222,209,44);
    background-color: rgb(240, 42, 42);
    transform: scale(1.1);
  }
  
  .sel1{
    display: flex;
    margin-top: 40px;
    margin-left: 36px;
    width: 200px;
    border-radius: 10px;
  }
  .h1comp {
    margin-top: 20px;
    margin-left: 20px;
    color: white;
    font-family: 'Anton', sans-serif;
  }