
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');

.container {
    display: flex;
}

.header {
    height: 75px;
    background-color: rgba(0, 0, 0, 0.836);
}

.logo img{
  width: 50px;
  border-radius: 15px;
  margin-left: 10px;
}

body {
  margin: 0px;
  width: 100%;
  height: 100%;
  background-image: url(fundobranco.jpg);
  background-size: cover;
}

.logo img {
    height: 60px;
    width: 110px;
    margin-top: -15px;
    margin-left: 15px;
    color: rgb(92, 92, 255);
    border-radius: 10px;
}

.navbar {
    margin: 0px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    list-style: none;
    margin-left: 300px;
    width: 500px;
    color: white;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:active {
    color: white;
    background-color: transparent;
    text-decoration: none;
  }

  /* Fim da header */
  footer {
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.836) ;
    height: 75px;
    font-size: 15px;
  }
  .footerTexto{
    font-size: 14px;
    color: white;
  }


  /* fim da footer */
.caixa1 {
    flex-direction: column;
    align-items: center;
    background-color: rgb(218, 3, 3);
    width: 700px;
    height: 1400px;
    display: flex;
    margin-left: 300px;
    margin-top: 100px;
    border-radius: 15px;
    box-shadow: 5px 5px 40px rgb(0, 0, 0);
    margin-bottom: 100px;
}

.texto1 {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 360px;
    margin-top: 100px;
    margin-right: 80px ;
    color: white;
    font-size: 20px;
}

.foto1 img {
    display: flex;
    width: 150px;
    margin-top: 80px;
}
.globo1 {
  display: flex;
  flex-direction: column;
  padding: 0px;
  margin: 0px;
}
.titulo{
  font-size: 40px;
  color: white;
  text-shadow: 5px 5px 6px rgb(0, 0, 0);
}

.glogo2 {
  flex-direction: row;
  display: flex;
}

.globo3{
  flex-direction: row;
  display: flex;
}

.texto2 {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin-top: 150px;
  width: 350px;
  margin-right: 85px; 
  color: white;
  font-size: 20px;
}

.foto2 img {
  display: flex;
  width: 150px;
  height: 215px;
  margin-top: 155px;
}

.globo4 {
  flex-direction: row;
  display: flex;
}

.texto3 {
  display: flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 350px;
  margin-top: 140px;
  margin-right: 165px;
  color: white;
  font-size: 20px;
}

.foto3 img {
  display: flex;
  width: 146px;
  margin-top: 160px;
  margin-left: -83px; 
}